*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 135deg,#43cea2,#185a9d);
        
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-container{
    width: 100%;
    max-width: 400px;
}

.card{
    background: #ffffff;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(red, green, blue, alpha);
    text-align: center;
}

.card h1{
    color: #185a9d;
    margin-bottom: 10px;
}
.card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}
.card label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}
.card input[ type="date"]{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 2opx;
    font-size: 14px;
}
.gender-options label{
    font-weight: normal;
    cursor: pointer;
}
button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #185a9d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3 ease;
}
 button:hover{
    background: #43cea2;
 }
 #result{
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    background: #f1f9ff;
    color: #185a9d;
    font-weight: bold;
    display: none;
    
 }