body{
    background-color: rgb(88, 88, 108);
}
*{
    margin: 0;
    padding: 0;

}
.container h1{
    text-align: center;
    color: aqua;
    border: 2px seashell;
}
.container form{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 3px 3px 8px 8px gray;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.akan-form{
    display: flex;
    align-items: center;
}